.preview-pdf {
  background: white;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}

.pdf-header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.pdf-header img {
  width: 100px;
}

footer {
  font-size: 13px;
  text-align: center;
  color: #444;
}

img{
    width: 80%;
    height: 350px;
}
.assinatura-medica {
  font-family: 'Dancing Script', cursive;
  font-size: 34px;
  margin-top: 40px;
}

